// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.margin-top-5per {
  margin-top: 5%;
}

.title {
  font-size: 20px;
}

.article-block {
  background-color: white;
  border: 1px solid #BBBBBB;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

a {
  color: #666666;
}

.article-image {
  width: 100%;
  object-fit: cover;
}

.padding-10 {
  padding: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.comment-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.max-height-150 {
  max-height: 150px;
  width: 100%;
}

.article-list-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.gray-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.relative {
  position: relative;

  i {
    position: absolute;
    top: 41%;
    left: 51%;
    font-size: 60px;
  }
}

.color-wh {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.like-btn {
 font-size: 15px;
 color: #C0C0C0;
}

.unlike-btn {
 font-size: 15px;
 color: #FF0000;
}

.Form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.Form-Item {

  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}


.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  display: block;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 480px) {
  .Form-Btn {
    width: 160px;
  }
}
